@font-face {font-family: 'FontAwesome';
	src: url("");
	src: url("") format('embedded-opentype'),
	url("") format('woff2'),
	url("") format('woff'),
	url("") format('truetype'),
	url("") format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {font-family: 'FuturaPT-Book';
	src: url("FTN45.eot");
	src: url("FTN45.eot") format('embedded-opentype'),
	url("FTN45.woff2") format('woff2'),
	url("FTN45.woff") format('woff'),
	url("FTN45.ttf") format('truetype'),
	url("FTN45.svg")format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {font-family: 'futuraDemi';
	src: url("futurademictt.eot");
	src: url("futurademictt.eot") format('embedded-opentype'),
	url("futurademictt.woff2") format('woff2'),
	url("urn:scrapbook:download:error:http://www.spa-siam.ru/fonts/futurademiC.woff") format('woff'),
	url("urn:scrapbook:download:error:http://www.spa-siam.ru/fonts/futurademiC.ttf") format('truetype'),
	url("urn:scrapbook:download:error:http://www.spa-siam.ru/fonts/futurademiC.svg#futuraDemi")format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'alethiaproregular';
	src: url("alethiaproregular.eot");
	src: url("alethiaproregular.eot") format('embedded-opentype'),
	url("alethiaproregular.woff2") format('woff2'),
	url("alethiaproregular.woff") format('woff'),
	url("alethiaproregular.ttf") format('truetype'),
	url("alethiaproregular.svg") format('svg');
	font-weight: normal;
	font-style: normal;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: normal;
	font-style: normal;
	vertical-align: baseline;
}
body{
	overflow-x: hidden;
	width: 100%;
}
strong,
b{
	font-weight: bold;
}
section {
	display: block;
}

input,
textarea,
button {
	font-family: 'futuraDemi';
	font-size: 18px;
	box-sizing: padding-box;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	resize: none;
	outline: none;
}

.page {
	padding-top: 140px;
	padding-bottom: 30px;
}

.page h1,
.page h2{
	font-size: 24px;
	margin: 35px 0 20px;
}
.page *:first-child,
table td *:first-child {
	margin-top: 0;
}
.page ol,
.page ul {
	padding-left: 20px;
	margin: 20px 0;
}
.float-box_inset h2{
	font-size: 30px;
	line-height: 34px;
}
.page p,
.float-box_inset p,
.float-box_inset ul{
	margin: 15px 0;
}
.float-box_inset ul{
	padding-left: 30px;
}
.float-box_inset ul li{
	list-style: disc;
}
.page img,
.page iframe{
	max-width: 100%;
}

table {
	border-collapse: separate;
	border-spacing: 0;
	vertical-align: middle;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	color: #725580;
	font-family: 'alethiaproregular';
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	line-height: 1.3;
}
h3, h4, h5, .h22, .page .h22{
	font-size: 22px;
}
h1, h2, .h40, .page .h40{
	font-size: 40px;
}
.h14,.page .h14{
	font-size: 14px;
}
.h16,.page .h16{
	font-size: 16px;
}
.h20,.page .h20{
	font-size: 20px;
}
.p22{
	font-size: 22px;
}
.h24, .page .h24{
	font-size: 24px;
}
.h28, .page .h28{
	font-size: 28px;
}
.h30,.page .h50{
	font-size: 30px;
}
.h50,.page .h50{
	font-size: 50px;
}
.h75,.page .h75{
	font-size: 75px;
}
p,
.h18,
.page .h18,
li,
.float-box.form .float-box_inset div.agreements *,
.sale_information a{
	font-size: 18px;
}
p,li,
.float-box.form .float-box_inset div.agreements *{
	font-family: 'FuturaPT-Book';
	line-height: 1.3;
	color: #464646;
}
a {
	cursor: pointer;
	font-family: 'FuturaPT-Book';
	font-size: 16px;
	color: #ffffff;
	text-decoration: none;
}

form {
	display: block;
}

/* РћР‘Р©РР• РЎРўРР›Р */

.rub:after{
	content: ' п—ј';
	font-family: 'FuturaPT-Book';
	display: inline-block;
	margin-left: 6px;
}

.more{
	text-decoration: underline;
	float: right;
	position: relative;
}
.container {
	width: 1110px;
	margin: 0 auto;
	padding: 0 15px;
	position: relative;
}
/*.float-box.form .float-box_inset button{*/
/*	width: 30%;*/
/*	min-width: 160px;*/
/*	max-width: 190px;*/
/*}*/
.float-box.form .logo  {
	width: 90px;
}

*::-webkit-input-placeholder {
	color: #000;
	font-family: 'FuturaPT-Book';
	font-size: 18px;
	line-height: 20px;
}
*:-moz-placeholder {
	color: #000;
	font-family: 'FuturaPT-Book';
	font-size: 18px;
	line-height: 20px;
}

*::-moz-placeholder {
	color: #000;
	font-family: 'FuturaPT-Book';
	font-size: 18px;
	line-height: 20px;
}

*:-ms-input-placeholder {
	color: #000;
	font-family: 'FuturaPT-Book';
	font-size: 18px;
	line-height: 20px;
}
.checkbox {
	vertical-align: top;
	margin: 0;
	width: 0;
	height: 0;
	opacity: 0;
}
.checkbox:not(checked) {
	position: absolute;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	-webkit-filter: alpha(opacity=0);
	-moz-filter: alpha(opacity=0);
	-ms-filter: alpha(opacity=0);
	-o-filter: alpha(opacity=0);
	filter: alpha(opacity=0);
}
.form-block form .wrong,
form .wrong,
form input[type=text].wrong,
form textarea.wrong,
.float-box.small-form  .float-box_inset .wrong,
main.portfolio form input[type=text].wrong, main.portfolio form textarea.wrong,
.order-template input[type=text].wrong,
.checkbox:not(checked).wrong + label:after{
	border-color: #b00505;
	background-color: #f3b9b9 !important;
}
.checkbox:not(checked) + label {
	position: relative;
	padding: 0 0 0 44px;
	font-size: 18px;
	color: #000;
	font-family: 'FuturaPT-Book';
	cursor: pointer;
	line-height: 18px;
	display: inline-block;
}
.checkbox:not(checked) + label a {
	color: #000;
	text-decoration: underline;
	font-family: 'FuturaPT-Book';
	cursor: pointer;
	text-decoration: underline;
}
.checkbox:not(checked) + label:after {
	content: '';
	position: absolute;
	top: -4px;
	left: 0;
	width: 25px;
	height: 25px;
	background: transparent;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	padding-left: 0;
	padding-top: 0;
	-webkit-transition: none;
	-moz-transition: none;
	-o-transition: none;
	transition: none;
	border: 1px solid #000;
	border-radius: 5px;
}

.checkbox:checked + label:after {
	content: '';
	position: absolute;
	font: 28px 'FontAwesome';
	cursor: pointer;
	color: #464646;
	background: url("") no-repeat center;
}

.pagination {
	width: 100%;
	display: block;
	text-align: center;
	margin-top: 30px;
	margin-bottom: 90px;
}

.pagination li{
	display: inline-block;
}
.pagination li a,
.pagination li span{
	font-family: "FuturaPT-Book";
	color: #464646;
	font-size: 20px;
	padding: 17px 15px;
}
.pagination li.active *,
.pagination li:hover *{
	color: #725580 ;
}
.pagination li.active *{
	text-decoration: none;
	font-family: "futuraDemi";
	background-image: url("");
	background-position: center;
	background-size: cover;
}

.float-box.callback .float-box_inset{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}
form input[type=text],
form select,
form textarea{
	padding: 0 15px;
	font-family: 'FuturaPT-Book';
	font-size: 18px;
	border: 1px solid #707070;
	color: #464646;
	margin-bottom: 20px;
	width: 100%;
	border-radius: 5px;
}

form textarea{
	min-height: 120px;
}
.float-box.form .float-box_inset form.sendler h4{
	line-height: 1.3;
	margin-bottom: 40px;
}
form.sendler .response{
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	display: none;
	text-align: center;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
form.sendler.sent > *{
	opacity: 0;
}
form.sendler.sent .response{
	display: flex;
	opacity: 1;
}
form.sendler.sent .response h3{
	font-size: 30px;
	text-transform: none;
	margin-top: 20px;
	line-height: 1.1;
	margin-bottom: 2px;
	margin-top: 0;
	line-height: 1;
	color: #70537f;
}
form.sendler.sent .response h4{
	font-size: 20px;
	text-transform: none;
	margin: 10px 0;
	line-height: 1;
}
form.sendler .btn{
	width: 200px;
	margin-top: 10px;
}
.arrows .owl-controls .owl-nav *:hover{
	opacity: 0.7;
}
.arrows .owl-controls .owl-nav .owl-prev:before,
.arrows .owl-controls .owl-nav .owl-next:before{
	font-family: "FontAwesome";
	font-size: 28px;
	content: "\f054";
}
.arrows .owl-controls .owl-nav .owl-prev:before{
	content: "\f053";
}
.arrows .owl-controls .owl-nav .owl-prev,
.arrows .owl-controls .owl-nav .owl-next{
	position: absolute;
	right: -40px;
	top: 50%;
	margin-top: -14px;
	height: 28px;
	width: 28px;
}
.arrows .owl-controls .owl-nav .owl-prev{
	left: -35px;
}
.dots .owl-dots{
	position: absolute;
	width: 100%;
	left: 0;
	bottom: 10px;
	text-align: center;
}
.dots .owl-dot{
	display: inline-block;
	border: 2px solid #fff;
	width: 12px;
	height: 12px;
	border-radius: 12px;
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
	margin-right: 15px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.dots .owl-dot:last-child{
	margin: 0;
}
.dots .owl-dot.active{
	background-color: #fff;
}
.shadow{
	-webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.23);
	-moz-box-shadow:	0px 3px 6px 0px rgba(0, 0, 0, 0.23);
	box-shadow:		 0px 3px 6px 0px rgba(0, 0, 0, 0.23);
}
.btn {
	padding: 15px 35px;
	font-family: "futuraDemi";
	cursor: pointer;
	font-size: 16px;
	border: 0;
	-webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.23);
	-moz-box-shadow:	0px 3px 6px 0px rgba(0, 0, 0, 0.23);
	box-shadow:		 0px 3px 6px 0px rgba(0, 0, 0, 0.23);
	border-radius: 5px;
	transition: 0.5s;
	-o-transition: 0.5s;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
}
/* TODO: РїРµСЂРµРґРµР»Р°С‚СЊ РїРѕРґ СЃРІРѕРё */
.btn-purple {
	color: #ffffff;
	background: #70537f;
}
.btn-purple:hover {
	background: #593c67;
}

/* NOTE: РІСЃРїР»С‹РІР°СЋС‰РёРµ Р±Р»РѕРєРё */
.float-box {
	position: fixed;
	height: 100%;
	width: 100%;
	background: rgba(0,0,0,0.5);
	top: 0;
	left: 0;
	z-index: 3910;
	-webkit-animation: floatbox 0.3s ease-in-out; /* Safari 4+ */
	-moz-animation: floatbox 0.3s ease-in-out; /* Fx 5+ */
	-o-animation: floatbox 0.3s ease-in-out; /* Opera 12+ */
	animation: floatbox 0.3s ease-in-out; /* IE 10+, Fx 29+ */
}
@-webkit-keyframes floatbox {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1
	}
}
@-moz-keyframes floatbox {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1
	}
}
@-o-keyframes floatbox {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1
	}
}
@keyframes floatbox {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1
	}
}
.float-box_inset{
	width: 50%;
	position: absolute;
	right: 0;
	top: 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	background: #fff;
	padding: 20px;
	overflow: auto;
	overflow-x: hidden;
	display: block;
	height: 100%;
	box-shadow: -1px 3px 35px 0px rgba(114, 85, 128, 0.41);
	-webkit-animation: float-box_inset 0.7s ease-in-out;
	-moz-animation: float-box_inset 0.7s ease-in-out;
	-o-animation: float-box_inset 0.7s ease-in-out;
	animation: float-box_inset 0.7s ease-in-out;
	-webkit-transition: right 0.5s;
	-moz-transition: right 0.5s;
	-ms-transition: right 0.5s;
	-o-transition: right 0.5s;
	transition: right 0.5s;
}
@-webkit-keyframes float-box_inset {
	0% {
		right: -110%;
	}
	70%{
		right: 5%;
	}
	100% {
		right: 0;
	}
}
@-moz-keyframes float-box_inset {
	0% {
		right: -110%;
	}
	70%{
		right: 5%;
	}
	100% {
		right: 0;
	}
}
@-o-keyframes float-box_inset {
	0% {
		right: -110%;
	}
	70%{
		right: 5%;
	}
	100% {
		right: 0;
	}
}
@keyframes float-box_inset {
	0% {
		right: -110%;
	}
	70%{
		right: 5%;
	}
	100% {
		right: 0;
	}
}
.form .float-box_inset{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}
.float-box_inset::-webkit-scrollbar,
.float-box.form .float-box_inset div.agreements::-webkit-scrollbar { width: 8px; }
.float-box_inset::-webkit-scrollbar-button,
.float-box.form .float-box_inset div.agreements::-webkit-scrollbar-button {width: 0; height: 0; }
.float-box_inset::-webkit-scrollbar-track,
.float-box.form .float-box_inset div.agreements::-webkit-scrollbar-track {background-color: transparent; width: 5px; border-right: 3px #000 solid; }
.float-box_inset::-webkit-scrollbar-track-piece,
.float-box.form .float-box_inset div.agreements::-webkit-scrollbar-track-piece { background-color: transparent;}
.float-box_inset::-webkit-scrollbar-thumb,
.float-box.form .float-box_inset div.agreements::-webkit-scrollbar-thumb { background-color: #70537f; width: 8px; }
.float-box_inset::-webkit-scrollbar-corner,
.float-box.form .float-box_inset div.agreements::-webkit-scrollbar-corner { background-color: transparent; }
.float-box_inset::-webkit-resizer,
.float-box.form .float-box_inset div.agreements::-webkit-scrollbar-resizer { background-color: transparent; }
.float-box_inset > *:first-child{
	margin-top: 0;
}
.float-box.form .float-box_inset{
	min-width: 600px;
	width: 30%;
	display: flex;
	align-items: center;
	text-align: center;
	flex-wrap: wrap;
	background: url("") no-repeat left bottom #fff;
	justify-content: center;
}
.float-box .exit{
	position: absolute;
	right: 14px;
	top: 17px;
	font-size: 24px;
	width: 17px;
	height: 17px;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}
.float-box .exit:hover {
	-moz-transform: scale(1.25);
	-ms-transform: scale(1.25);
	-webkit-transform: scale(1.25);
	-o-transform: scale(1.25);
	transform: scale(1.25);
}
.float-box .exit:before{
	content: "";
	cursor: pointer;
	position: absolute;
	background: url("");
	right: 0px;
	top: 0px;
	z-index: 2000;
	padding-left: 15px;
	padding-bottom: 15px;
}
.float-box.form .float-box_inset input,
.float-box.form .float-box_inset label,
.float-box.form .float-box_inset div.agreements,
.float-box.form .float-box_inset h3,
.float-box.form .float-box_inset p{
	display: block;
	width: 100%;
	margin-bottom: 20px;
}
.float-box.form .float-box_inset input{
	height: 46px;
}
.float-box.form .float-box_inset h3{
	margin-bottom: 35px;
}
.float-box .float-box_inset form{
	width: 100%;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0;
	margin-top: -200px;
}
.load--agreement{
	text-decoration: underline;
}
.float-box.form .float-box_inset div.agreements{
	height: 130px;
	overflow-x: hidden;
	overflow-y: auto;
	text-align: left;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	border: 1px #000 solid;
	padding: 10px;
	margin: 30px 0;
}
.float-box.form .float-box_inset div.agreements *{
	margin-bottom: 10px;
	margin-top: 0;
}
.float-box.form .float-box_inset p{
	line-height: 1.3;
	margin-bottom: 10px;
	margin-top: 0;
}
.float-box.form .float-box_inset label{
	text-align: left;
	display: inline-block;
	width: auto;
}
.float-box .float-box_inset form .response{
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.float-box.form .float-box_inset form .response{
	/*background: #fff;*/
}
.float-box.form .float-box_inset form.sent > *{
	opacity: 0;
	-webkit-transition: none;
	-moz-transition: none;
	-o-transition: none;
	transition: none;
}
.float-box.form .float-box_inset .sent > .response{
	opacity: 1;
}
.sendler_checkbox{
	margin-top: 15px;
}
@media (max-width: 1070px) {
	.float-box_inset,
	.float-box.form .float-box_inset{
		width: 70%;
		min-width: 0;
	}
	.float-box.form .float-box_inset h3{
		font-size: 40px;
	}
	.float-box.sendler .float-box_inset h4{
		font-size: 25px;
	}
}
@media (max-width: 550px) {
	.about .container > p br,
	.masters .container > p br{
		display: none;
	}
	.float-box_inset,
	.float-box.form .float-box_inset{
		width: 100%;
	}
	.float-box.form .float-box_inset h3{
		font-size: 30px;
	}
}
@media (max-height: 760px){
	.float-box .float-box_inset .logo {
		display: none;
	}
	.motivation .item-2 p{
		font-size: 0;
	}
	.motivation .item-2 p:before{
		content: 'РќР°С‚СѓСЂР°Р»СЊРЅР°СЏ С‚Р°Р№СЃРєР°СЏ РєРѕСЃРјРµС‚РёРєР°';
		font-size: 20px;
		font-family: 'FuturaPT-Book';
		line-height: 1.3;
		color: #464646;
	}
}
.x6,.x5,.x4,.x2,.x3{
	display: block;
	font-size: 0;
	line-height: 0;
}
.x2 > .items{
	width: 49%;
	display: inline-block;
	margin-right: 2%;
	margin-bottom: 2%;
	vertical-align: top;
	line-height: normal;
}
.x2 > .items:nth-child(even){
	margin-right: 0;
}
.x3 > .items{
	width: 32%;
	display: inline-block;
	margin-right: 2%;
	margin-bottom: 2%;
	vertical-align: top;
	line-height: normal
}
.x3 > .items:nth-child(3n){
	margin-right: 0;
}
.x4 > .items{
	width: 24.25%;
	display: inline-block;
	margin-right: 1%;
	margin-bottom: 1%;
	vertical-align: top;
	line-height: normal
}
.x4 > .items:nth-child(4n){
	margin-right: 0;
}
.x5 > .items{
	width: 19.2%;
	display: inline-block;
	margin-right: 1%;
	margin-bottom: 1%;
	vertical-align: top;
	line-height: normal
}
.x5 > .items:nth-child(5n){
	margin-right: 0;
}
.x6 > .items{
	width: 15.83%;
	display: inline-block;
	margin-right: 1%;
	margin-bottom: 1%;
	vertical-align: top;
	line-height: normal
}
.x6 > .items:nth-child(6n){
	margin-right: 0;
}
.flex-box {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/* Select */
.select_box{/*РЅСѓР¶РµРЅ РґР»СЏ РїРѕР·РёС†РёРѕРЅРёСЂРѕРІР°РЅРёСЏ СЃРµР»РµРєС‚Р° РЅР° СЃС‚СЂР°РЅРёС†Рµ*/
	display: block;
	width: 100%;
}
/*С‚РµРєСЃС‚ С‚РѕР»РєРѕ РІ РєРЅРѕРїРєРµ*/
.ui-selectmenu-text { /* С€СЂРёС„С‚ РІ РєРЅРѕРїРєРµ */
	font-family: 'FuturaPT-Book';
	font-size: 18px;
	color: #000000;
}
.ui-selectmenu-button:hover .ui-selectmenu-text,
.ui-selectmenu-button:focus .ui-selectmenu-text{ /* Р°РєС‚РёРІРЅС‹Рµ СЃРѕСЃС‚РѕСЏРЅРёСЏ С€СЂРёС„С‚Р° */
	color: #000000;
}
/*СЃС‚СЂРµР»РєР°*/
.ui-selectmenu-button .ui-icon { /*СЃС‚Р°РЅРґР°СЂС‚РЅР°СЏ СЃС‚РёР»РёР·Р°С†РёСЏ СЃС‚СЂРµР»РєРё*/
	background: url("") no-repeat center;
	background-size: cover;
	width: 17px;
	height: 17px;
	margin-top: 4px;
}
.ui-selectmenu-button:hover .ui-icon{
	background: url("") no-repeat center;
	background-size: cover;
}
.ui-selectmenu-button.ui-selectmenu-button-open .ui-icon{
	background: url("") no-repeat center;
	background-size: cover;
}
.ui-selectmenu-button{ /*СЃС‚РёР»РёР·Р°С†РёСЏ РІРЅРµС€РЅРѕСЃС‚Рё РєРЅРѕРїРєРё*/
	border-radius: 5px;
	border: 1px #414042 solid;
	background: #ffffff;
}
.cards .ui-selectmenu-button.ui-button{
	width: 425px;
}
.ui-selectmenu-button.ui-button{ /*СЂР°Р·РјРµСЂ РєРЅРѕРїРєРё*/
	padding: 9px 15px;
	border: 1px solid #707070;
	margin-bottom: 20px;
	width: 100%;
	border-radius: 5px;
	height: 46px;
}
.ui-selectmenu-button:hover,
.ui-selectmenu-button:focus { /*СЃС‚РёР»РёР·Р°С†РёСЏ Р°РєС‚РёРІРЅРѕРіРѕ СЃРѕСЃС‚РѕСЏРЅРёСЏ РєРЅРѕРїРєРё*/
	border: 1px #414042 solid;
	background: #ffffff;
}
.ui-selectmenu-button-open{
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}
/*РІС‹РїР°РґР°СЋС‰РµРµ РјРµРЅСЋ*/
.ui-selectmenu-menu .ui-menu{ /*СЂР°Р·РјРµСЂ РјРµРЅСЋ*/
	max-height: 200px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border: 1px #414042 solid;
	border-top: 0;
	overflow: hidden;
	z-index: 2000;
}
.ui-menu .ui-menu-item-wrapper{ /*С€СЂРёС„С‚ РІ РїСѓРЅРєС‚Р°С…*/
	font-family: 'FuturaPT-Book';
	font-size: 18px;
	color: #464646;
}
.ui-widget-content .ui-state-active{ /*РїСѓРЅРєС‚С‹ РїСЂРё РЅР°РІРµРґРµРЅРёРё*/
	border: 0px solid #555555;
	background: #ffffff;
	color: #000000;
}
.ui-selectmenu-open{
	z-index: 1000;
}

.btn_a{
	font-family: futuraDemi;
	font-size: 18px;
	color: #70537f;
}
.btn_a:hover{
	color: #593c69;
}
*,*:after,*:before{
	box-sizing: border-box;
}

/* Datetimepicker addon */

.datetimepicker label:before,
.datepicker label:before{
	content: "";
	background: url("") no-repeat center;
	background-size: cover;
	position: absolute;
	right: 10px;
	top: 0;
	width: 17px;
	height: 17px;
}
.ui-datepicker{
	border: 1px #414042 solid;
}
.timepicker-item,
.datepicker-item{
	font-size: 16px;
	color: #000000;
}
.ui-datepicker .ui-datepicker-prev span{
	background: url("") no-repeat center;
	background-size: cover;
}

.ui-datepicker .ui-datepicker-next span{
	background: url("") no-repeat center;
	background-size: cover;
}
.ui-widget-content .ui-state-hover,
.ui-state-hover{
	background: #ededed;
	border: 1px #ffffff solid;
}
.ui-spinner a.ui-spinner-button{
	display: none;
}
.namephone,
.datetime{
	display: flex;
	width: 100%;
}
.namephone .name,
.datetime .date,
.datetime .time{
	margin-right: 15px;
}

/* HEADER */

header{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	display: flex;
	height: 80px;
	justify-content: center;
	z-index: 5;
	z-index: 2500;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
}
header:before{
	content: "";
	position: absolute;
	top: 0;
	width: 100%;
	height: 1px;
	top: -1px;
	z-index: 2400;
	-webkit-box-shadow: 0px 0px 80px 40px rgba(0, 0, 0, 1);
	-moz-box-shadow:    0px 0px 80px 40px rgba(0, 0, 0, 1);
	box-shadow:         0px 0px 80px 40px rgba(0, 0, 0, 1);
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
}
body.fixed-header header:before{
	top: -81px;
}

header .container{
	display: flex;
	height: 80px;
	justify-content: space-between;
	align-items: center;
	font-family: FuturaPT-Book;
	font-size: 18px;
	line-height: 20px;
	color: #ffffff;
	z-index: 2500;
}
.flex{
	width: 30px;
}
header nav ul{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 670px;
}
header nav ul li{
	position: relative;
}
header nav ul li a{
	font-size: 18px;
	line-height: 20px;
	position: relative;
}
header nav ul li:before{
	content: "";
	position: absolute;
	background: #c9a577;
	bottom: -2px;
	left: -7%;
	width: 0;
	height: 2px;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
}
header nav ul li:hover:before,
header nav ul li.active:before{
	width: 115%;
}
header nav ul li.img:before{
	display: none;
}
.header_number:hover{
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	-moz-transform: scale(1.05);
	-ms-transform: scale(1.05);
	-webkit-transform: scale(1.05);
	-o-transform: scale(1.05);
	transform: scale(1.05);
}
header nav ul li img{
	width: 66px;
	height: 56px;
}
header .header_number{
	font-size: 22px;
	display: flex;
	flex-direction: column;
}
header .header_number span{
	font-size: 14px;
	text-align: right;
}
.mobile-header_logo{
	display: none;
	width: 66px;
	height: 56px;
	z-index: 5000;
	position: absolute;
	left: 50%;
	margin-left: -33px;
}
.fixed-header header{
	top: -104px;
	background: #725580;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
}
.fixed-header header.show{
	top: 0;
	background: #725580;
}
header .mobile-menu{

	cursor: pointer;

	display: flex;
	align-items: center;
	flex-wrap: wrap;
	position: relative;
	height: 30px;
	width: 30px;
	z-index: 20;
}
header .mobile-menu span{
	width: 100%;
	height: 2px;
	background: #ad9476;
	/*margin-bottom: 5px;*/
	display: block;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
}
header .mobile-menu span.last{
	width: 20px;
}
/* header.show-menu{
	position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    max-height: 800px;
    max-width: 380px;
	left: 0;
	background: #725580;
} */
header.show-menu .mobile-menu span{
	position: absolute;
	left: 0px;
}
header.show-menu .mobile-menu span.first{
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}
header.show-menu .mobile-menu span.center{
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
header.show-menu .mobile-menu span.last{
	display: none;
}
header .mobile-menu {
	display: none;
	min-width: 30px;
}
/* header.show-menu .container{
	height: 100%;
	display: flex;
	flex-direction: column-reverse;
	justify-content: flex-end;
	text-align: left;
	align-items: left;
} */
header .header_content{
	display: flex;
	align-items: center;
}
header .flex,
header .socials{
	display: none;
}
header .socials{
	width: 60px;
	height: 30px;
	display: flex;
	justify-content: space-between;
	align-items: baseline;
}
header .social_vk,
header .social_instagram{
	position: relative;
	display: block;
}
.description{
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 585px;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}
.common-home .description{
	background-image: url("1-main_page.jpg");
}
.content-services .description{
	background-image: url("");
}
.content-masters .description{
	background-image: url("");
}
.content-sales .description{
	background-image: url("");
}
.content-sertificate .description{
	background-image: url("");
}
.content-reviews .description{
	background-image: url("");
}

/* main page */

main{
	overflow: hidden;
}
.about{
	position: relative;
}
.about:before{
	content: "";
	display: block;
	position: absolute;
	background: url("background.png") no-repeat right;
	width: 800px;
	height: 800px;
	right: 50%;
	margin-right: -915px;
	top: 182px;
}
.about .container{
	text-align: center;
	align-items: center;
	display: flex;
	flex-direction: column;
}
.common-home .about .title{
	font-size: 0;
	line-height: 0;
	margin-top: -40px;
}
.common-home .about .title:before{
	content:url("nadpis.svg");
	width: 420px;
	display: block;
}
.about .img_box_siam{
	width: 420px;
	height: 85px;
	margin-top: -43px;
}
.about .container > p{
	margin-top: 30px;
	margin-bottom: 60px;
	max-width: 830px;
}
.about_services{
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: space-between;
	margin-bottom: 50px;
}
.about_services .items h3{
	margin-top: 20px;
}
.about_services .items{
	display: flex;
	flex-direction: column;
	width: 23%;
}
.about_services .items .img_box{
	max-height: 320px;
	/*width: 100%;*/
	display: inline-block;
	overflow: hidden;
	/*background: red;*/
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	box-shadow: 2px 3px 18px 0px rgba(100, 55, 122, 0.9);
	-webkit-box-shadow: 2px 3px 18px 0px rgba(100, 55, 122, 0.9);
	-moz-box-shadow: 2px 3px 18px 0px rgba(100, 55, 122, 0.9);
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
}
.about_services .items .img_box img{
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	display: block;
	width: 100%;
}
.about_services .items:hover .img_box img{
	transform: scale(1.15);
	-moz-transform: scale(1.15);
	-ms-transform: scale(1.15);
	-webkit-transform: scale(1.15);
	-o-transform: scale(1.15);
}
.about_services .items:hover .img_box{
	box-shadow: 2px 3px 35px 0px rgba(100, 55, 122, 0.9);
}
.about_services .items:hover h3{
	color: #593c69;
}
.about_atmosphere{
	width: 100%;
	text-align: center;
	align-items: center;
	display: flex;
	flex-direction: column;
	margin-bottom: 25px;
}
.about_atmosphere > p{
	margin-top: 0px;
	margin-bottom: 20px;
	max-width: 730px;
}
.about_atmosphere .information{
	display: flex;
	text-align: left;
	overflow: hidden;
	position: relative;
	max-height: 0px;
	transition: all 1s;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-o-transition: all 1s;
}
.about_atmosphere .information.show{
	max-height: 3750px;
	padding-top: 70px;
	padding-bottom: 50px;
}
.about_atmosphere .information .left,
.about_atmosphere .information .right{
	min-width: 50%;
}
li{
	list-style-type: none;
}
.information .left ul li:before,
.information .right ul li:before{
	content: "вЂў";
	color: #725580;
}
.information .left{
	padding-right: 35px;
}
.information .right{
	padding-left: 35px;
}
.information .right h2,
.information .left h2{
	text-transform: capitalize;
}
.information .right h3,
.information .left h3{
	margin-bottom: 5px;
	margin-top: 20px;
}
.about_atmosphere a{
	position: relative;
}
.about_atmosphere a:before{
	content: "";
	position: absolute;
	background: #725580;
	top: 23px;
	left: -5px;
	width: 0%;
	height: 1px;
	transition: 0.5s;
}
.about_atmosphere a:hover:before{
	content: "";
	position: absolute;
	background: #725580;
	top: 23px;
	left: -5px;
	width: 105%;
	height: 1px;
}
.about_atmosphere a.hover:before{
	content: "";
	position: absolute;
	background: #725580;
	top: 23px;
	left: -5px;
	width: 105%;
	height: 1px;
}


.about_atmosphere .img_box{
	margin-top: 60px;
	width: 300px;
}
.img_box_gradient{
	width: 300px;
	align-items: center;
}
.about_atmosphere .information:before {
	content: "";
	position: absolute;
	background: url("gradient.svg") no-repeat center;
	left: 50%;
	margin-left: -145px;
	top: -55px;
	width: 290px;
	height: 25px;
}
.display_block{
	display: block;
}
.display_flex{
	display: flex;
	min-height: 1110px;
}
.display_none{
	height: 0px;
	line-height: 0;
	font-size: 0;
}

/* masters */

.masters{
	position: relative;
	margin-top: 160px;
}
.masters:before{
	content: "";
	display: block;
	position: absolute;
	background: url("elephant.png") no-repeat right;
	width: 450px;
	height: 510px;
	right: 50%;
	margin-right: -900px;
	bottom: 400px;
	z-index: 200;
}
.masters .container{
	display: flex;
	text-align: center;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.masters .h75{
	line-height: 75px;
	margin-bottom: 20px;
}
.masters .h75:before{
	content: "";
	display: block;
	position: absolute;
	background: url("gradient-1.svg") no-repeat right;
	width: 290px;
	height: 23px;
	right: 50%;
	margin-right: -145px;
	top: -100px;
}
.masters .container > p{
	text-align: center;
	max-width: 730px;
}
.masters_box{
	display: flex;
	margin-top: 80px;
	width: 100%;
	justify-content: space-between;
}
.education{
	margin-top: 10px;
}
.masters_box .items{
	width: 270px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.masters_box .items h3:hover{
	color: #391a49;
}
.masters_box .items .img_box{
	position: relative;
	display: flex;
	justify-content: center;
	height: 270px;
	width: 270px;
	transition: 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
}
.masters_box .items .img_box .img_master{
	height: 300px;
	margin-top: -25px;
}
.masters_box .item-1 .img_box .img_master,
.masters_box .item-3 .img_box .img_master{
	width: 200px;
}
.masters_box .item-2 .img_box .img_master{
	width: 190px;
	position: relative;
	top: -11px;
}
.masters_box .items .img_box img{
	position: relative;
	z-index: 5;
	height: 100%;
	width: 100%;
}
.masters_box .item-1 .img_box .img_master,
.masters_box .item-3 .img_box .img_master{
	position: relative;
	top: -5px;
}
.masters_box .items .img_box:before{
	content: "";
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background: url("masters_sprite.svg") no-repeat center;
	background-size: 1020px auto;
	background-position: 0px 0px;
	z-index: 0;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
}
.masters_box .items .img_box:after{
	content: "";
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background: url("masters_sprite.svg") no-repeat center;
	background-size: 1020px auto;
	background-position: 0px -308px;
	z-index: 0;
	opacity: 0;
	transition: 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
}
.masters_box .item-2 .img_box:before{
	background-position: -376px 0px;
}
.masters_box .item-3 .img_box:before{
	background-position: -750px 0px;
}
.masters_box .item-2 .img_box:after{
	background-position: -376px -308px;
}
.masters_box .item-3 .img_box:after{
	background-position: -750px -308px;
}
.masters_box .items:hover .img_box:before{
	opacity: 0;
}
.masters_box .items:hover .img_box:after{
	opacity: 1;
}
.masters_box .items .btn_a{
	margin-top: 20px;
	position: relative;
}
.masters_box .items:hover .btn_a{
	color: #593c69;
}
.masters_box .items .btn_a:before{
	content: "";
	position: absolute;
	background: #725580;
	top: 23px;
	left: -5px;
	width: 0%;
	height: 0.5px;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
}
.masters_box .items .btn_a:hover:before{
	content: "";
	position: absolute;
	background: #725580;
	top: 23px;
	left: -5px;
	width: 105%;
	height: 0.5px;
}
.masters_box .items .h22{
	margin-top: 25px;
}
.masters_box .items .h14{
	margin-bottom: 2px;
}
.masters_box .items .btn_a{
	max-width: 100%;
}
.masters_box .items .education{
	width: 276px;
}
/* interier */

.interier{
	position: relative;
}
.interier .container{
	display: flex;
	margin-top: 40px;
}
.interier .left{
	margin-top: 130px;
	max-width: 310px;
	margin-right: 10px;
	z-index: 5;
}
.interier .left p{
	margin-bottom: 10px;
}
.interier:before{
	content: "";
	display: block;
	position: absolute;
	background: url("flower_stone.png") no-repeat left;
	width: 430px;
	height: 480px;
	left: 50%;
	margin-left: -800px;
	top: 400px;
	z-index: -1;
}
.interier:after{
	content: "";
	display: block;
	position: absolute;
	background: url("background.png") no-repeat left;
	width: 800px;
	height: 800px;
	left: 50%;
	margin-left: -835px;
	top: -150px;
	z-index: -2;
}

/* 		slider on main_page	 */

.interier .main_page_slider {
	width: 1155px;
	height: 565px;
	overflow: hidden;
	position: relative;
}
.interier .swiper-slide {
	background-size: cover;
	background-position: center;
}
.interier .swiper-slide img{
	width: 100%;
	height: 100%;
}
.interier .gallery-top {
	width: 1155px;
	height: 565px;
	margin-top: 80px;
	position: relative;
}
.interier .gallery-thumbs {
	height: 95px;
	width: 610px;
	left: 158px;
	margin-top: -35px;
	box-sizing: border-box;
}
.interier .swiper-pagination{
	position: absolute;
	right: 20px;
	top: 10px;
	font-size: 20px;
	font-family: 'FuturaPT-Book';
	letter-spacing: -2px;
	color: white;
	display: none;
}
.interier .slider_buttons{
	display: flex;
	position: relative;
}
.interier .swiper-button-prev,
.interier .swiper-button-next{
	height: 14px;
	width: 45px;
	background: none;
	border: none;
	background-image: none;
	top: -15px;
	position: absolute;
}
.interier .swiper-button-next{
	left: 60px
}
.interier .swiper-button-next:before,
.interier .swiper-button-prev:before{
	content: "";
	display: block;
	position: absolute;
	height: 13px;
	width: 45px;
	background: url("strelka.svg") no-repeat center;
	background-size: 100px auto;
	background-position: 0px 0px;
}
.interier .swiper-button-next:before{
	background-position: -56px 0px;
}
.swiper-pagination{

}
.interier .white-background{
	z-index: -5;
	background-color: #fff;
	width: 100%;
	height: 100%;
	opacity: 0;
}
.interier .gallery-thumbs .swiper-slide .white-background{
	opacity: 0.5;
}
.interier .gallery-thumbs .swiper-slide-thumb-active .white-background{
	opacity: 0;
}

/* motivation */

.motivation .container{
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: baseline;
	margin-top: 105px;
	margin-bottom: 80px;
}
.motivation .items{
	max-width: 220px;
}
.motivation .lines{
	display: flex;
}
.motivation .items p{
	margin-top: 10px;
}
.motivation .items .img_box{
	height: 113px;
}
.motivation .item-1,
.motivation .item-2,
.motivation .item-3{
	margin-right:30px;
}
.motivation .items .img_box img{
	height: 100%;
}

/* map */

.map_box{
	height: 560px;
	padding-top: 30px;
	display: block;
	width: 100%;
	overflow: hidden;
}
.map{
	width: 100%;
	height: 100%;
	box-shadow: 0px 3px 29px 0px rgba(0, 0, 0, 0.2);
}
.map * {
	touch-action: auto
}

/* footer */

footer{
	height: 150px;
	background: #725580;
	color: #ffffff;
	font-family: 'futuraDemi';
	position: relative;
	font-size: 18px;
	overflow: hidden;
}
footer:before{
	content:"";
	position: absolute;
	bottom: 0;
	height: 550px;
	width: 2000px;
	background: url("footer_bg.png") no-repeat;
	background-size: 1520px auto;
	margin-left: -15px;
	background-position: -630px 0px;
	opacity: 0.7;
}
footer a{
	color: #ffffff;
	font-family: 'futuraDemi';
	font-size: 18px;
}
footer .container{
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 150px;
}
.footer_content{
	display: flex;
	align-items: center;
	width: 100%;
	justify-content: space-between;
	margin-right: 60px;
}
footer .item-1{
	position: relative;
	font-size: 0;
	line-height: 0;
	height: 55px;
	width: 170px;
	min-width: 170px;
}
footer .item-1:before{
	content: "";
	display: block;
	position: absolute;
	background: url("footer_logo.svg") no-repeat bottom;
	height: 55px;
	width: 170px;
}
footer .item-2{
	display: flex;
	width: 440px;
	justify-content: space-between;
}
footer .item-2 .adress{
	width: 200px;
	min-width: 200px;
	line-height: 1.7em;

}
footer .item-2 .number{
	min-width: 215px;
	display: flex;
	flex-direction: column;
	line-height: 1.7em;
}
footer .socials{
	width: 115px;
	min-width: 115px;
	display: flex;
	justify-content: space-between;
	position: relative;
}
footer .socials .social_vk:before{
	background: url("footer_socials.svg") no-repeat center;
	content: "";
	display: block;
	width: 50px;
	height: 70px;
	position: absolute;
	left: 0;
	bottom: -30px;
	background-size: 120px auto;
	background-position: 0px 0px;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
}
footer .socials .social_vk:after{
	background: url("footer_socials.svg") no-repeat center;
	content: "";
	display: block;
	width: 50px;
	height: 70px;
	position: absolute;
	left: 0;
	bottom: -30px;
	background-size: 120px auto;
	background-position: 0px -78px;
	opacity: 0;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
}
footer .socials .social_instagram:before{
	background: url("footer_socials.svg") no-repeat center;
	content: "";
	display: block;
	width: 50px;
	height: 70px;
	position: absolute;
	right: 0;
	bottom: -30px;
	background-size: 120px auto;
	background-position: -71px 0px;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
}
footer .socials .social_instagram:after{
	background: url("footer_socials.svg") no-repeat center;
	content: "";
	display: block;
	width: 50px;
	height: 70px;
	position: absolute;
	right: 0;
	bottom: -30px;
	background-size: 120px auto;
	background-position: -71px -78px;
	opacity: 0;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
}
footer .socials .social_vk:hover:before{opacity: 0;}
footer .socials .social_vk:hover:after{opacity: 1;}
footer .socials .social_instagram:hover:before{opacity: 0;}
footer .socials .social_instagram:hover:after{opacity: 1;}

footer .item-4{
	font-size: 12px;
	line-height: 14px;
	font-family: 'FuturaPT-Book';
	display: flex;
	flex-direction: column;
	padding-bottom: 18px;
	position: relative;
	width: 28%;
}
footer .item-4 span{
	word-wrap: normal;
}

.map_box{
	position: relative;
}


.map_box .scheme{
	position: absolute;
	bottom: 40px;
	width: 200px;
	height: 64px;
	padding: 0 10px;
	font-size: 16px;
	border-radius: 5px;
	-webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.43);
	-moz-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.43);
	box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.43);
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-ms-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
	color: white;
	font-family: alethiaproregular;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	line-height: 1.5;
}
.float-box.scheme .float-box_inset{
	position: fixed;
	display: flex;
	align-items: center;
	top: 0;
	bottom: 0;
	background: #ffffff;
}
.float-box.scheme .float-box_inset > div{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.float-box.scheme .h30{
	text-align: center;
	margin-bottom: 20px;
}

.float-box.scheme .img_box{
	width: 100%;
	height: 100%;
	max-height: 75vh;
	min-height: 400px;
}
.float-box.scheme .img_box img{
	width: 100%;
	min-height: 400px;
	max-height: 75vh;
}

.load--privacy{
	text-decoration: underline;
	margin-top: 6px;
	cursor: pointer;
}
.rband{
	font-size: 0;
	line-height: 0;
	height: 35px;
	width: 220px;
	background: white;
	display: flex;
	justify-content: center;
	margin-bottom: 0px;
	position: absolute;
	bottom: 0px;
	right:50%;
	margin-right: -530px;
}
.rband:before{
	content: "";
	display: block;
	position: absolute;
	background: url("footer_r-band_babochka.svg") no-repeat left;
	width: 26px;
	height: 14px;
	top: 11px;
	left: 28px;
	-webkit-transition: transform 0.7s;
	-moz-transition: transform 0.7s;
	-o-transition: transform 0.7s;
	transition: transform 0.7s;
}
.rband:hover:before{
	-moz-transform: rotate(720deg);
	-ms-transform: rotate(720deg);
	-webkit-transform: rotate(720deg);
	-o-transform: rotate(720deg);
	transform: rotate(720deg);
}
.rband:after{
	content: "";
	display: block;
	position: absolute;
	background: url("footer_r-band_nadpis.svg") no-repeat left;
	width: 129px;
	height: 11px;
	top: 13px;
	left: 63px;
}
/*   services.php   */

.content-services .map_box{
	margin-top: 60px;
	overflow: hidden;
}

.services{
	position: relative;
}
.services:before{
	content: "";
	display: block;
	position: absolute;
	background: url("background.png") no-repeat right;
	width: 800px;
	height: 800px;
	left: 50%;
	margin-left: -1115px;
	top: 230px;
}
.services:after{
	content: "";
	display: block;
	position: absolute;
	background: url("") no-repeat left;
	width: 800px;
	height: 800px;
	right: 50%;
	margin-right: -1090px;
	top: 600px;
	z-index: -1;
}
.services .container{
	text-align: center;
	align-items: center;
	display: flex;
	flex-direction: column;
}
.content-services .services .title{
	font-size: 0;
	line-height: 0;
	margin-top: -25px;
	margin-bottom: 30px;
}
.content-services .services .title:before{
	content:url("");
	width: 355px;
	display: block;
}
/*.services .container > p{*/
/*	max-width: 770px;*/
/*}*/
.services_btn_box{
	display: flex;
	justify-content: space-around;
	white-space: nowrap;
	margin-top: 55px;
	margin-bottom:  40px;
}
.services .sale_text{
	opacity: 0;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	margin-bottom: 0;
	max-height: 0;
	height: auto;
	width: 100%;
	overflow: hidden;
}
.services.category--5 .sale_text{
	opacity: 1;
	max-height: 300px;
	margin-bottom: 30px;
	padding: 15px 0;
}
.services_btn_box .items:last-child{
	margin-right: 0px;
}
.services_btn_box .items{
	margin-right: 15px;
	border: solid #cdcdcd 1px;
	border-radius: 5px;
	padding: 10px 25px 10px 25px;
	display: block;
	cursor: pointer;
	color: #6b6c6f;
	font-size: 20px;
	font-family: 'alethiaproregular';
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
}
.services_btn_box .items:hover{
	color: #725580;
	border-color: #725580;
	background-color: #72558050;
}
.services_btn_box .items.active{
	color: white;
	background-color: #725580;
}
.services_box{
	margin-bottom: 30px;
}
.services_box .items{
	max-height: 915px;
	width: 100%;
	display: flex;
	text-align: left;
	transition: all 0.7s;
	-webkit-transition: all 0.7s;
	-moz-transition: all 0.7s;
	-o-transition: all 0.7s;
	overflow: hidden;
	margin-bottom: 40px;
}
.services_box .items.hidden{
	max-height: 0px;
	padding: 0;
	margin-bottom: 0;
}
.services_box .items .left{
	max-width: 510px;
	/*height: 393px;*/
	position: relative;
}
.services_box .items .left .mobile{
	display: none;
	padding-left: 15px;
	margin-bottom: 7px;
}
.services_box .swiper-pagination{
	z-index: 2;
	bottom: 45px;
	left: 45px;
}
.services_box .swiper-pagination-bullet {
	width: 10px;
	height: 10px;
	background: none;
	border: #ffffff solid 1px;
	opacity: 1;
}
.services_box .swiper-pagination-bullet-active{
	background: #b6b4b5;
}
.services_slider{
	width: 100%;
	overflow: hidden;
	position: relative;
	padding: 15px;
}
.services_slider .swiper-slide{
	display: flex;
	text-align: center;
	align-items: center;
	box-shadow: 0px 0px 15px 0px rgba(100, 55, 122, 0.50);
}
.services_slider .swiper-slide img{
	width: 100%;
}
.services_box .items ul li:before{
	/*content: "вЂў";*/
	/*color: #725580;*/
	content: '';
    width: 4px;
    height: 4px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    background: #725580;
    position: relative;
    top: -2px;
}
.services_box .items .right{
	display: flex;
	flex-direction: column;
	position: relative;
	padding-left: 20px;
	padding-top: 30px;
	width: 100%;
}
.services_box .itemId-19 .right{
	padding-top: 10px;
}
.services_box .items .right .h24{
	margin-bottom: 10px;
}
.services_box .items .right p,
.services_box .items .right ul{
	margin-bottom: 10px;
}
.services_box .items .right p + ul{
	margin-top: -7px;
}
.services_box .items .right .up_inf p.b{
	font-weight: bold;
	margin-top: 15px;
	margin-bottom: 5px;
}
.services_box .right .bot_inf{
	display: flex;
	margin-top: auto;
	align-items: center;
}
.services_box .right .bot_inf .bot_img_box{
	width: 30px;
	height: 35px;
	margin-top: -3px;
}
.services_box .right .bot_inf p{
	color: #725580;
	font-size: 16px;
	margin-top: 8px;
	margin-left: 10px;
	margin-right: 15px;
}
.services_box .itemId-19 .right .bot_inf p.time{
	margin-right: 20px;
}
.services_box .right .bot_inf .btn{
	padding: 15px 50px 15px 50px;
	margin-left: auto;
}

/*      masters.php      */

.masters_page{
	position: relative;
}
.masters_page:before{
	content: "";
	display: block;
	position: absolute;
	background: url("background.png") no-repeat right;
	width: 800px;
	height: 800px;
	left: 50%;
	margin-left: -1102px;
	top: 227px;
	z-index: -3;
}
.masters_page:after{
	content: "";
	display: block;
	position: absolute;
	background: url("") no-repeat left;
	width: 350px;
	height: 450px;
	right: 50%;
	margin-right: -950px;
	bottom: 0;
	z-index: -3;
}
.masters_page .container{
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
}
.masters_page .container > p{
	/*max-width: 830px;*/
}

.content-masters .masters_page .title{
	font-size: 0;
	line-height: 0;
	margin-top: -25px;
}
.content-masters .masters_page .title:before{
	content:url("");
	width: 430px;
	display: block;
	margin-bottom: 30px;
}
.masters_page .masters_page_box{
	display: flex;
	flex-direction: column;
	margin-top: 80px;
}
.masters_page .masters_page_box .items{
	display: flex;
	align-items: center;
}
.masters_page .masters_page_box .img_box{
	position: relative;
	display: flex;
	flex-direction: column-reverse;
	min-width: 275px;
	align-items: center;
	height: 100%;
}
.masters_page .masters_page_box .img_box img{
	height: 300px;
}
.masters_page .masters_page_box .item-2 .img_box img{
	position: relative;
	top: -6px;
}
.masters_page .masters_page_box .item-1,
.masters_page .masters_page_box .item-3{
	text-align: left;
}
.masters_page .masters_page_box .item-2{
	flex-direction: row-reverse;
	text-align: right;
}
.masters_page .masters_page_box .item-1 .text,
.masters_page .masters_page_box .item-3 .text{
	padding-left: 45px;
	padding-top: 35px;
}
.masters_page .masters_page_box .item-2 .text{
	padding-right: 45px;
	padding-top: 35px;
}
.masters_page .masters_page_box .items{
	margin-bottom: 65px;
}
.masters_page .masters_page_box .h24{
	margin-bottom: 10px;
}
.masters_page .masters_page_box .h18{
	margin-bottom: 10px;
}
.masters_page .masters_page_box p{
	margin-bottom: 3px;
}

.masters_page_box .items .img_box:before{
	content: "";
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background: url("masters_sprite.svg") no-repeat center;
	background-size: 1020px auto;
	background-position: 0px 30px;
	z-index: -1;
	opacity: 1;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
}
.masters_page_box .items .img_box:after{
	content: "";
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background: url("masters_sprite.svg") no-repeat center;
	background-size: 1020px auto;
	background-position: 0px -278px;
	z-index: -1;
	opacity: 0;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
}
.masters_page_box .item-2 .img_box:before{
	background-position: -373px 30px;
}
.masters_page_box .item-2 .img_box:after{
	background-position: -373px -278px;
}
.masters_page_box .item-3 .img_box:before{
	background-position: -750px 30px;
}
.masters_page_box .item-3 .img_box:after{
	background-position: -750px -278px;
}

.masters_page_box .items:hover .img_box:before{opacity: 0;}
.masters_page_box .items:hover .img_box:after{opacity: 1;}
.masters_page_box .items .text .btn_a{
	position: relative;
	bottom: -10px;
}
.masters_page_box .items:hover .text .btn_a,
.masters_page_box .items:hover .text .h24{
	color: #593c69;
}
.masters_page_box .items .text .btn_a:before{
	content: "";
	position: absolute;
	background: #725580;
	top: 23px;
	left: -5px;
	width: 0%;
	height: 1px;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
}
.masters_page_box .items .text .btn_a:hover:before{
	content: "";
	position: absolute;
	background: #725580;
	top: 23px;
	left: -5px;
	width: 105%;
	height: 1px;
}
.diplom{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	padding: 0 15px;
	background: rgba(255, 255, 255, 0.7);
	opacity: 0;
	width: 100%;
	height: 100%;
	z-index: -5100;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
}
.diplom.visible{
	opacity: 1;
	z-index: 5100;
}
.diplom_img{
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	max-width: 80%;
	max-height: 80%;
	height: auto;
	width: auto;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	border: #725580 0px solid;
}
.diplom_img img{
	display: block;
	max-height: 100%;
	max-width: 100%;
	width: auto;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	border: #725580 2px solid;
}
.diplom .exit{
	position: absolute;
	right: 14px;
	top: -34px;
	font-size: 24px;
	width: 17px;
	height: 17px;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}
.diplom .exit:before {
	content: "";
	cursor: pointer;
	position: absolute;
	background: url("") no-repeat center;
	width: 100%;
	height: 100%;
	right: 0px;
	top: 0px;
	z-index: 2000;
}
.diplom .exit:hover{
	-moz-transform: scale(1.25);
	-ms-transform: scale(1.25);
	-webkit-transform: scale(1.25);
	-o-transform: scale(1.25);
	transform: scale(1.25);
}


/*      sales.php      */

.sales{
	position: relative;
}
.sales:before{
	content: "";
	display: block;
	position: absolute;
	background: url("background.png") no-repeat right;
	width: 800px;
	height: 800px;
	left: 50%;
	margin-left: -1150px;
	top: 230px;
}
.sales:after{
	content: "";
	display: block;
	position: absolute;
	background: url("") no-repeat left;
	width: 350px;
	height: 500px;
	right: 50%;
	margin-right: -900px;
	top: 550px;
}

.sales .container{
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}
.content-sales .sales .title{
	font-size: 0;
	line-height: 0;
	margin-top: -30px;
}
.content-sales .sales .title:before{
	content:url("");
	width: 320px;
	display: block;
	margin-bottom: 30px;
}
.sales .container > p{
	margin-bottom: 30px;
	/*max-width: 750px;*/
}
.sale_box{
	width: 100%;
	margin-bottom: 90px;
}
.sale_box p{
	margin: 0;
}
.sale_box .sale_box_items{
	display: flex;
	overflow: hidden;
	width: 100%;
	justify-content: space-between;
	position: relative;
}
.sale_box .sale_box_items .items{
	/*position: relative;*/
	width: 50%;
	margin-bottom: 50px;
	transition: all 1s;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-o-transition: all 1s;
	margin-top: 30px;
}
.sale_box .sale_box_items .items .h24{
	position: absolute;
	text-align: left;
	margin: -5px 20px 20px;
}
.sale_box_items .items .img_box{
	margin: 20px;
	display: inline-block;
	overflow: hidden;
	position: relative;
}
.sale_box_items .items .img_box img{
	width: 100%;
	transition: all 1s;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-o-transition: all 1s;
	display: block;
}
.sale_box_items .items .img_box .plashka{
	position: absolute;
	background: url("");
	width: 190px;
	height: 45px;
	left: 0px;
	top: 0px;
	z-index: 2000;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	padding-left: 15px;

	font-family: 'FuturaPT-Book';
	color: #e7cb68;
	font-size: 18px;
}
.sale_box_items .items .img_box:before{
	content: "";
	display: block;
	position: absolute;
	background: url("") no-repeat top;
	width: 75px;
	height: 133px;
	right: 0px;
	top: -150px;
	z-index: 2000;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}
.sale_box_items .items.show .img_box:before{
	content: "";
	display: block;
	position: absolute;
	background: url("") no-repeat top;
	width: 75px;
	height: 133px;
	right: 0px;
	top: 0px;
	z-index: 2000;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}
.sale_box_items .items .img_box img:hover{
	-moz-transform: scale(1.05);
	-ms-transform: scale(1.05);
	-webkit-transform: scale(1.05);
	-o-transform: scale(1.05);
	transform: scale(1.05);
}
.sale_information{
	width: 100%;
	position: absolute;
	padding: 0 20px;
	text-align: left;
	display: block;
	overflow: hidden;
	margin-top: 70px;
	left: 0;
}
/*.show > .sale_information{*/
/*	display: block;*/
/*}*/
/*.sale_information.left_position{*/
/*	right:22px;*/
/*}*/
.sale_information .h30{
	margin-bottom: 10px;
}
.sale_information p{
	margin-bottom: 5px;
}
.sale_information a{
	color: #725580;
	text-decoration: underline;
}
.sale_information ul li{
	line-height: 1.5;
}
.sale_information ul li:before{
	content: "вЂў";
	color: #725580;
}
.display-none{
	display: none;
}
.close_krest{
	cursor: pointer;
	line-height: 0;
	font-size: 0;
	position: absolute;
	width: 17px;
	height: 17px;
	background: url("");
	right: 5px;
	top: 5px;
	z-index: 2;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}
.close_krest:hover{
	-moz-transform: scale(1.25);
	-ms-transform: scale(1.25);
	-webkit-transform: scale(1.25);
	-o-transform: scale(1.25);
	transform: scale(1.25);
}
.shadow{
	box-shadow: 0px 3px 18px 0px rgba(100, 55, 122, 0.52);
	cursor: pointer;
}

/*      sertificate.php      */

.sertificate .container{
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}
.sertificate .container > p{
	max-width: 820px;
}

.sertificate .container:before{
	content: "";
	display: block;
	position: absolute;
	background: url("") no-repeat right;
	width: 300px;
	height: 250px;
	right: 50%;
	margin-right: -780px;
	bottom: 80px;
	z-index: -10;
}
.sertificate .container:after{
	content: "";
	display: block;
	position: absolute;
	background: url("background.png") no-repeat right;
	width: 600px;
	height: 900px;
	right: 50%;
	margin-right: -1040px;
	bottom: 260px;
	z-index: -11;
}
.content-sertificate .sertificate .title{
	font-size: 0;
	line-height: 0;
	margin-top: -25px;
}
.content-sertificate .sertificate .title:before{
	content:url("");
	width: 705px;
	display: block;
	margin-bottom: 30px;
}
.sertificate .img_box_gradient{
	margin-top: 40px;
}
.sertificate .h30{
	position: relative;
	margin-top: 115px;
	margin-bottom: 15px;
	display: flex;
	flex-direction: column;
}
.sertificate .h30:before{
	content: "";
	position: absolute;
	background: url("gradient.svg") no-repeat center;
	left: 50%;
	margin-left: -145px;
	top: -65px;
	width: 290px;
	height: 25px;
}
.sertificate .h30 span{
	color: #58595b;
	margin-top: 10px;
	font-family: 'FuturaPT-Book';
}
.sertificate .h20{
	margin-top: 110px;
	margin-bottom: 90px;
	max-width: 800px;
	line-height: 1.5;
}
.sertificate_box{
	width: 100%;
	margin-top: 45px;
	align-self: flex-end;
	display: flex;
	justify-content: space-between;
}
.sertificate_box .text{
	text-align: left;
	width: 540px;
	padding-left: 30px;
}
.sertificate_box .img_box{
	margin-top: 45px;
	width: 50%;
}
.sertificate_box .img_box img{
	width: 100%;
}
.sertificate_box .text ul li{
	margin-bottom: 5px;
}
.sertificate_box .text ul li:before{
	content: "вЂў";
	color: #725580;
}
.sertificate_box .text .h24{
	margin-top: 40px;
	margin-bottom: 15px;
	line-height: 1;
}
.sertificate_box .text .h24:first-child{
	margin-top: 30px;
}

/*      feedback.php      */

.feedback{
	position: relative;
}
.feedback:before{
	content: "";
	display: block;
	position: absolute;
	background: url("background.png") no-repeat right;
	width: 800px;
	height: 800px;
	left: 50%;
	margin-left: -1150px;
	top: 230px;
}
.feedback .container{
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}
.feedback .container > p{
	max-width: 830px;
}
.content-reviews .feedback .title{
	font-size: 0;
	line-height: 0;
	margin-top: -20px;
}
.content-reviews .feedback .title:before{
	content:url("");
	width: 390px;
	display: block;
	margin-bottom: 30px;
}
.time_price{
	display: flex;
	padding-top: 8px;
	flex-wrap: wrap;
}
.time_price > div{
	display: flex;
	padding: 7px 0;
}
.feedback .btn{
	padding: 15px 35px;
	position: relative;
	margin-top: 35px;
}
.feedback .btn:before{
	display: block;
	width: 150px;
	content: '';
	position: absolute;
	border-bottom: 1px solid #b5963c;
	top:50%;
	right: 203px;
}
.feedback .btn::after{
	display: block;
	width: 150px;
	content: '';
	position: absolute;
	border-bottom: 1px solid #b5963c;
	top:50%;
	left: 203px;
}
.feedback_box{
	display: flex;
	flex-direction: column;
	width: 100%;
	text-align: left;
	margin-top: 65px;
	margin-bottom: 20px;
}
.feedback_string{
	display: flex;
	margin-bottom: 36px;
}
.feedback_box .items{
	width: 48%;
	margin-right: 4%;
}
.feedback_box .items .h14{
	margin-top: 5px;
	margin-bottom: 10px;
}
.feedback_box .items:nth-child(2n){
	margin-right: 0;
}
/*.feedback_string .right,*/
/*.feedback_string .left{*/
/*    width: 50%;*/
/*}*/
/*.feedback_string .left{*/
/*    margin-right: 15px;*/
/*}*/
/*.feedback_string .right{*/
/*    margin-left: 15px;*/
/*}*/
.feedback_box .item .h20{
	margin-bottom: 5px;
}
.feedback_box .item .h14{
	margin-bottom: 5px;
}
.feed_back ul.pagination{
	font-size: 22px;
	margin-bottom: 90px;
}
/*.float-box.review-form{*/
/*	width: 100%;*/
/*	height: 100%;*/
/*	position: fixed;*/
/*	display: flex;*/
/*	align-items: center;*/
/*	justify-content: flex-end;*/
/*	background: rgba(255, 255, 255, 0.5);*/
/*}*/
/*.review-form .float-box_inset{*/
/*	padding: 40px;*/
/*	display: flex;*/
/*	position: absolute;*/
/*	flex-direction: column;*/
/*	align-items: center;*/
/*	overflow: visible;*/
/*}*/
/*.float-box.review-form .float-box_inset:before{*/
/*	content: "";*/
/*    display: block;*/
/*    position: absolute;*/
/*    background: url("/img/feedback/items_bg.png") no-repeat right;*/
/*    width: 600px;*/
/*    height: 300px;*/
/*    left: 0;*/
/*	margin-left: -60px;*/
/*    bottom: -50px;*/
/*}*/
/*.float-box.review-form form{*/
/*	position: absolute;*/
/*	right: 0;*/
/*	top: 0px;*/
/*	padding: 20px;*/
/*}*/
/*.float-box.review-form .review_top{*/
/*	display: flex;*/
/*	flex-direction: column;*/
/*	margin-bottom: 20px;*/
/*}*/
/*h3.review_name{*/
/*	margin-bottom: 30px;*/
/*	margin-left: -110px;*/
/*}*/
/*.float-box.review-form .review_top input{*/
/*	height: 44px;*/
/*	width: 100%;*/
/*	font-family: 'FuturaPT-Book';*/
/*	font-size: 18px;*/
/*	margin: 0 12px 20px 0;*/
/*	padding: 5px 16px;*/
/*	border: 1px solid #707070;*/
/*	border-radius: 5px;*/
/*	color: #464646;*/
/*}*/
/*.float-box.review-form .review_top select{*/
/*	height: 44px;*/
/*	width: 100%;*/
/*	font-family: 'FuturaPT-Book';*/
/*	font-size: 18px;*/
/*	padding: 5px 16px;*/
/*	border: 1px solid #707070;*/
/*	border-radius: 5px;*/
/*	color: #464646;*/
/*}*/
/*.float-box.review-form .review_top select option{*/
/*	color: #464646;*/
/*}*/
/*.float-box.review-form .review_top select option:hover{*/
/*	background-color: #725580;*/
/*}*/
/*.float-box.review-form textarea{*/
/*	width: 100%;*/
/*	height: 180px;*/
/*	font-family: 'FuturaPT-Book';*/
/*	font-size: 18px;*/
/*	line-height: 1.1;*/
/*	padding: 16px 17px;*/
/*	border: 1px solid #707070;*/
/*	border-radius: 5px;*/
/*	color: #464646;*/
/*}*/
/*.float-box.review-form .review_bottom label:after{*/
/*	border: 1px solid #707070;*/
/*	border-radius: 5px;*/
/*}*/
/*.float-box.review-form .review_bottom{*/
/*	display: flex;*/
/*	position: relative;*/
/*	flex-direction: column;*/
/*	justify-content: center;*/
/*	align-items: center;*/
/*	margin-top: 5px;*/
/*}*/
/*.float-box.review-form .review_bottom .btn{*/
/*	height: 49px;*/
/*	width: 188px;*/
/*	margin-top: 40px;*/
/*}*/

/*        404.php        */

/*.content-404{*/
/*	width: 100%;*/
/*}*/

body main.not-found .description{
	background: none;
	padding-top: 150px;
	height: auto;
	padding-bottom: 30px;
	position: relative;
}
.description video{
	position: absolute;
}
.not-found .container{
	/*margin-top: -80px;*/
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
	max-width: 940px;
}
.not-found .container img{
	max-width: 100%;
	margin-bottom: 30px;
}
.header_404{
	height: 112px;
	top: 0px;
}
.eror_img{
	max-width: 400px;
	max-height: 225px;
	margin-top: 40px;
	margin-bottom: 60px;
}
.eror_img img{
	width: 100%;
	height: 100%;
}
.not-found p.h22{
	margin: 25px 0;
}

@media (max-width: 1100px) {
	.about:before,
	.interier:before,
	.masters:before,
	section.services:before,
	.services:after,
	section.masters_page:before,
	section.masters_page:after,
	section.sales:before,
	section.sales:after,
	section.sertificate .container:before,
	section.sertificate .container:after,
	section.feedback:before,
	.interier .container .left p,
	.interier .gallery-thumbs,
	.interier .slider_buttons,
	.interier .container .left h2,
	header li.img{
		display: none;
	}
	header .container{
		justify-content: flex-end;
	}
	/* main_page */

	.description{
		height: 435px;
	}

	.container{
		width: 100%;
	}
	p,
	.sale_information a{
		font-size: 20px;
	}
	header .mobile-menu{
		display: flex;
		position: absolute;
		left: 20px;
		top: 28px;
	}
	header .header_number,
	header .header_number span{
		position: relative;
		font-size: 0;
		line-height: 0;
		width: 25px;
		height: 25px;
	}
	header .header_number:before{
		content: "";
		position: absolute;
		background: url("trubka.svg") no-repeat center;
		height: 100%;
		width: 100%;
	}
	header .flex,
	header .mobile-header_logo{
		display: block;
		z-index: 1;
	}
	header .socials{
		display: flex;
	}
	header.show-menu .header_content {
		margin-left: 0;
		transition-timing-function: cubic-bezier(0.5,0.5,0.5,1);
		z-index: 2;
	}
	header .header_content{
		margin-left: -400px;
		box-shadow: 1px 3px 18px 0px rgba(100, 55, 122, 0.52);
		display: flex;
		flex-direction: column-reverse;
		align-items: flex-start;
		position: fixed;
		top: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
		max-width: 380px;
		left: 0;
		background: #725580;
		transition: all 0.5s;
		-webkit-transition: all 0.5s;
		-moz-transition: all 0.5s;
		-o-transition: all 0.5s;
		padding-left: 14px;
		padding-bottom: 23px;
		overflow: hidden;
	}
	header .header_content:before{
		content:"";
		position: absolute;
		bottom: 0;
		height: 500px;
		width: 900px;
		background: url("header_bg.png") no-repeat;
		background-size: 770px auto;
		margin-left: 0px;
		background-position: -60px 20px;
		left: 0;
		opacity: 0.2;
	}


	header nav{
		margin-bottom: auto;
		margin-top: 50px;
	}
	header nav ul{
		width: 100%;
		flex-direction: column;
		align-items: flex-start;
	}
	header nav ul li{
		margin-top: 40px;
	}
	header nav ul li a{
		font-size: 24px;
		line-height: 1;
	}
	/*header nav ul a.active:before,*/
	/*header nav ul a:before,*/
	/*header nav ul a:hover:before{*/
	/*	top: 29px;*/
	/*}*/
	.h30, .page .h50{
		font-size: 22px;
	}
	h3, h4, h5, .h22, .page .h22{
		font-size: 18px;
	}
	.fixed-header header.show-menu{
		top: 0;
	}
	header .header_adress{
		font-size: 20px;
		margin-top: 20px;
	}
	header .social_vk:before{
		background: url("mobile-menu_social.svg") no-repeat center;
		content: "";
		display: block;
		position: absolute;
		width: 36px;
		height: 25px;
		background-size: 112px auto;
		background-position: 0px 0px;
		transition: all 0.5s;
		-webkit-transition: all 0.5s;
		-moz-transition: all 0.5s;
		-o-transition: all 0.5s;
		opacity: 1;
	}
	header .social_vk:after{
		background: url("mobile-menu_social.svg") no-repeat center;
		content: "";
		display: block;
		position: absolute;
		width: 36px;
		height: 25px;
		background-size: 112px auto;
		background-position: 0px -65px;
		transition: all 0.5s;
		-webkit-transition: all 0.5s;
		-moz-transition: all 0.5s;
		-o-transition: all 0.5s;
		opacity: 0;
	}
	header .social_instagram:before{
		background: url("mobile-menu_social.svg") no-repeat center;
		content: "";
		display: block;
		position: absolute;
		height: 30px;
		width: 30px;
		background-size: 109px auto;
		background-position: -79px 0px;
		transition: all 0.5s;
		-webkit-transition: all 0.5s;
		-moz-transition: all 0.5s;
		-o-transition: all 0.5s;
		opacity: 1;
	}
	header .social_instagram:after{
		background: url("mobile-menu_social.svg") no-repeat center;
		content: "";
		display: block;
		position: absolute;
		height: 30px;
		width: 30px;
		background-size: 109px auto;
		background-position: -79px -63px;
		transition: all 0.5s;
		-webkit-transition: all 0.5s;
		-moz-transition: all 0.5s;
		-o-transition: all 0.5s;
		opacity: 0;
	}
	header .social-item:hover:before{
		opacity: 0;
	}
	header .social-item:hover:after{
		opacity: 1;
	}
	.about_services a{
		width: 23%;
	}
	.about_services .items .img_box{
		width: 100%;
	}
	.about_services a .img_box img{
		width: 100%;
	}
	.about_atmosphere .information{
		justify-content: space-between;
	}
	.about_atmosphere .information .left,
	.about_atmosphere .information .right{
		padding: 0;
		min-width: 49%;
		width: 49%;
	}
	.interier .gallery-top{
		width: 100%;
		margin-top: 30px;
		height: auto;
	}
	.interier .swiper-pagination{
		display: inline-block;
	}
	.interier .container{
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.interier .container .left{
		margin-right: 0px;
		margin-top: 0px;
		max-width: 100%;
	}
	.interier .container .left h2.h75{
		display: inline;
	}
	.interier .container .right{
		width: 100%;
	}
	.motivation .container{
		margin-top: 50px;
	}
	.motivation .lines{
		display: flex;
		width: 50%;
	}
	footer{
		padding-left: 15px;
		padding-right: 35px;
	}
	footer .container{
		display: flex;
		flex-direction: column;
	}
	footer .container .item-2{
		width: 440px;
		justify-content: space-between;
	}
	footer .container .item-4{
		flex-direction: row;
		width: 100%;
	}
	footer .container .item-4 .load--privacy{
		margin-top: 0;
		margin-left: 15px;
	}
	.float-box.privacy .float-box_inset{
		border-top: 50px #fff solid;

	}
	.float-box.form .float-box_inset form.sendler h4{
		line-height: 1.3;
		margin-bottom: 20px;
	}
	.float-box.form .float-box_inset{
		justify-content: center;
	}
	.float-box .float-box_inset form{
		margin-top: 0;
		padding: 0;
		min-height: 560px;
	}
	.float-box.form .float-box_inset p{
		font-size: 16px;
	}
	.float-box_inset{
		padding: 20px 20px;
	}
	.float-box.scheme .img_box{
		margin-left: 0;
	}
	.float-box.scheme .float-box_inset{
		padding: 40px 30px 10px 30px;
	}

	.rband{
		right: 0;
		margin-right: 10px;
	}
	.footer_content{
		margin-right: 0px;
		margin-top: 40px;
	}
	.services_btn_box{
		margin-bottom: 50px;
		margin-top: 30px;
		justify-content: center;
		align-items: center;
		width: 100%;
	}
	.services_btn_box .items{
		margin-right: 5px;
		padding: 10px 15px 10px 15px;
	}
	.services_box{
		width: 100%;
	}
	.services_box .items{
		flex-direction: column;
		max-height: 1300px;
		width: 100%;
	}
	.services_box .items .left .mobile{
		display: block;
	}
	.interier .swiper-pagination{
		display: block;
	}
	.services_slider{
		overflow: visible;
	}
	.services_box .items .right{
		padding-top: 0;
		padding-left: 0;
	}
	.services_box .items .right .h24{
		font-size: 0;
		line-height: 0;
	}
	.services_box .right .bot_inf{
		margin-top: 20px;
		padding-bottom: 0;
		align-items: center;
	}
	.sertificate_box .img_box{
		align-self: center;
		width: 40%;
	}
	.sales .container{
		padding: 0;
	}
	.sales .container > p {
		padding: 0 15px;
		margin-bottom: 30px;
		/*max-width: 750px;*/
	}
	.diplom_img{
		max-width: 100%;
		max-height: 90%;
	}
	.diplom .exit{
		bottom: 100%;
		top: auto;
	}
	header nav ul li:before{
		left: -5px;
	}
}

@media (max-width: 850px) {
	.masters_box .items .education {
		width: 210px;
	}
	.masters_box .items .img_box{
		width: 166px;
		height: 166px;
	}
	.masters_box .items .img_box .img_master{
		height: 185px;
		margin-top: -15px;
	}
	.masters_box .item-1 .img_box .img_master,
	.masters_box .item-3 .img_box .img_master{
		width: 125px;
	}
	.masters_box .item-2 .img_box .img_master{
		width: 115px;
		top: -9px;
	}
	.masters_box .items .img_box:before{
		background-size: 628px auto;
		background-position: 0px 0px;
	}
	.masters_box .items .img_box:after{
		background-size: 628px auto;
		background-position: 0px -190px;
	}
	.masters_box .item-2 .img_box:before{
		background-position: -231px 0px;
	}
	.masters_box .item-3 .img_box:before{
		background-position: -462px 0px;
	}
	.masters_box .item-2 .img_box:after{
		background-position: -231px -190px;
	}
	.masters_box .item-3 .img_box:after{
		background-position: -462px -190px;
	}
	.services_btn_box{
		flex-wrap: wrap;
		width: 550px;
	}
	.services_btn_box .items{
		margin-top: 15px;
		margin-right: 15px;
		padding: 10px 25px 10px 25px;
	}
	.sale_box_items.show .items.show .img_box:before{
		width: 65px;
	}
	.content-sertificate .sertificate .title:before{
		width: 570px;
	}
	.sertificate_box{
		flex-direction: column;
		align-items: center;
	}
	.sertificate_box .img_box{
		margin-top: -25px;
		align-self: center;
		width: 50%;
	}
	.sertificate .h20{
		margin-top: 55px;
		margin-bottom: 45px;
	}
}

@media (max-width: 768px) {
	header .header_content{
		margin-left: 0;
		max-height: 100%;
		max-width: 100%;
		transform: translateX(0px);
		margin-top: -120vh;
	}
	header.show-menu .header_content{
		margin-top: 0;
	}
	.motivation .items{
		width: 160px;
	}
	footer{
		height: 490px;
		font-size: 20px;
	}
	footer a{
		font-size: 20px;
	}
	footer .container{
		height: 100%;
	}
	.footer_content{
		flex-direction: column;
	}
	footer .item-1{
		width: 223px;
		height: 70px;
	}
	footer .item-1:before{
		width: 223px;
		height: 70px;
	}
	.footer_content .item-2{
		flex-direction: column;
		align-items: center;
		margin-top: 20px;
	}
	footer .item-2 .adress{
		width: auto;
	}
	footer .item-2 .number{
		align-items: center;
		margin-top: 10px;
	}
	footer .item-2 .number span{
		margin-top: 10px;
	}
	footer .socials{
		width: 155px;
		margin-top: 85px;
	}
	footer .container .item-4{
		width: auto;
		margin-bottom: 55px;
		justify-content: center;
		align-items: center;
		text-align: center;
	}
	footer .socials .social_vk:before{
		width: 60px;
		height: 85px;
		background-size: 143px auto;
		background-position: 0px 0px;
	}
	footer .socials .social_vk:after{
		width: 60px;
		height: 85px;
		background-size: 143px auto;
		background-position: 0px -93px;
	}
	footer .socials .social_instagram:before{
		width: 60px;
		height: 85px;
		background-size: 143px auto;
		background-position: -84px 0px;
	}
	footer .socials .social_instagram:after{
		width: 60px;
		height: 85px;
		background-size: 143px auto;
		background-position: -84px -93px;
	}
	.rband{
		position: relative;
		display: block;
		bottom: 35px;
		margin: 0 auto;
	}
	.about_services .items h3{
		font-size: 18px;
	}
	.sale_box_items .items h5.h24{
		font-size: 20px;
	}
	.masters_page .masters_page_box .item-2{
		flex-direction: row;
		text-align: left;
	}
	.masters_page .masters_page_box .item-2 .text{
		padding-right: 0px;
		padding-left: 45px;
	}
	.masters_page .masters_page_box .items{
		margin-bottom: 50px;
		flex-direction: column;
		text-align: center;
	}
	.masters_page .masters_page_box .items .text{
		padding-left: 0;
	}
	.feedback_string {
		flex-direction: column;
		margin-bottom: 0;
	}
	.feedback_box .items{
		width: 100%;
		margin-bottom: 30px;
	}
	.float-box.form .float-box_inset{
		background: #ffffff;
	}
	/*.feedback_string .left{*/
	/*	margin: 0 auto 30px;*/
	/*	width: 100%;*/
	/*}*/
	/*.feedback_string .right{*/
	/*	margin: 0 auto;*/
	/*	width: 100%;*/
	/*}*/
	/*.float-box.review-form{*/
	/*	flex-direction: column;*/
	/*	justify-content: center;*/
	/*}*/
	/*.float-box.review-form .float-box_inset{*/
	/*	width: 100%;*/
	/*	height: 460px;*/
	/*	position: relative;*/
	/*	padding: 0;*/
	/*}*/
	/*.float-box.review-form .float-box_inset:before{*/
	/*	display: none;*/
	/*}*/
	/*.float-box.review-form .review_top{*/
	/*	flex-direction: row;*/
	/*}*/
	/*.float-box.review-form .review_top input{*/
	/*	margin: 0 20px 0 0;*/
	/*}*/
	/*h3.review_name{*/
	/*	margin: -10px 0 40px -7px;*/
	/*	line-height: 75px;*/
	/*}*/
	/*.float-box.review-form textarea {*/
	/*	height: 140px;*/
	/*}*/
	/*.float-box.review-form .review_bottom{*/
	/*	flex-direction: row;*/
	/*	justify-content: space-between;*/
	/*}*/
	/*.float-box.review-form .review_bottom .btn{*/
	/*	margin: 0;*/
	/*}*/
	/*.float-box.review-form .exit{*/
	/*	top: 50%;*/
	/*	margin-top: -210px;*/
	/*}*/
	/*.float-box.review-form .review_bottom .btn{*/
	/*	margin: 0;*/
	/*}*/
	/*@-webkit-keyframes float-box_inset {*/
	/*	0% {top: 110%;}*/
	/*	70%{top: -5%;}*/
	/*	100% {top: 0;}*/
	/*}*/
	/*@-moz-keyframes float-box_inset {*/
	/*	0% {top: 110%;}*/
	/*	70%{top: -5%;}*/
	/*	100% {top: 0;}*/
	/*}*/
	/*@-o-keyframes float-box_inset {*/
	/*	0% {top: 110%;}*/
	/*	70%{top: -5%;}*/
	/*	100% {top: 0;}*/
	/*}*/
	/*@keyframes float-box_inset {*/
	/*	0% {top: 110%;}*/
	/*	70%{top: -5%;}*/
	/*	100% {top: 0;}*/
	/*}*/
}


@media (max-width: 680px){
	.about_services{
		flex-direction: column;
		align-items: center;
		margin-bottom: 0;
	}
	.about_services .items{
		width: 100%;
		padding-left: 5px;
		padding-right: 5px;
		margin-bottom: 50px;
	}
	.about_services .items h3{
		font-size: 20px;
	}
	.masters_box{
		flex-direction: column;
		align-items: center;
		margin-top: 0px;
	}
	.masters_box .items{
		margin-top: 60px;
	}
	.motivation .container{
		margin-bottom: 50px;
	}
	.motivation .items{
		max-width: 150px;
	}
	.motivation .item-1,
	.motivation .item-2,
	.motivation .item-3{
		margin-right:15px;
	}
	.namephone{
		flex-direction: column;
	}


}

@media (max-width: 576px) {
	.ui-selectmenu-text,
	form input[type=text], form select, form textarea{
		font-size: 16px;
	}
	.feedback .btn:before,
	.feedback .btn:after,
	.okunites{
		display: none;
	}
	.common-home .about .title{
		margin-top: -29px;
	}
	.common-home .about .title:before,
	.content-services .services .title:before,
	.content-masters .masters_page .title:before,
	.content-sales .sales .title:before,
	.content-reviews .feedback .title:before {
		width: 280px;
	}
	.content-services .services .title{
		margin-top: -20px;
	}
	.content-masters .masters_page .title{
		margin-top: -17px;
	}
	.content-sales .sales .title{
		margin-top: -23px;
	}
	.content-sertificate .sertificate .title{
		margin-top: -9px;
	}
	.content-sertificate .sertificate .title:before{
		content: url("");
		width: 300px;
	}
	.content-reviews .feedback .title{
		margin-top: -15px;
	}
	.description {
		height: 200px;
	}
	header .header_adress{
		font-size: 18px;
	}
	.masters .h75{
		font-size: 65px;
		margin-top: 0;
	}
	.masters{
		margin-top: 80px;
	}
	.masters .h75:before{
		top: -60px;
	}
	.interier .container .left h2.h75{
		font-size: 55px;
	}
	.motivation .container{
		flex-direction: column;
		align-items: center;
	}
	.motivation .lines{
		width: 100%;
		align-items: center;
		justify-content: center;
	}
	.motivation .line-2{
		margin-top: 20px;
	}
	.motivation .items{
		width: 50%;
	}
	.motivation .items .img_box{
		height: 90px;
	}
	.motivation .item-2{
		margin-right: 0px;
	}
	.about_atmosphere .information{
		flex-direction: column;
	}
	.about_atmosphere .information .right{
		margin-top: 40px;
	}
	.about_atmosphere .information .right,
	.about_atmosphere .information .left{
		width: 100%;
	}
	footer{
		height: 540px;
		padding-right: 15px;
	}
	.footer_content .item-2{
		margin-top: 35px;
	}
	footer .item-2 .adress{
		width: 225px;
		text-align: center;
		line-height: 1.2;
	}
	footer .container .item-4{
		flex-direction: column;
		text-align: center;
	}
	footer .container .item-4 .load--privacy{
		margin-left: 0px;
		margin-top: 10px;
	}
	.sale_box_items.show .items.show .img_box:before{
		width: 75px;
	}
	.sale_box .close_krest{
		display: none;
	}
	.sale_box .sale_box_items{
		flex-direction: column;
		align-items: center;
	}
	.sale_box .sale_box_items .items{
		width: 100%;
		overflow: hidden;
		margin: 0;
	}
	.sale_box .sale_box_items .items .h24{
		position: relative;
	}
	.sale_box .sale_box_items .items .h30{
		display: none;
	}
	.sale_information{
		width: 100%;
		margin-top: -10px;
	}
	.sale_information.left_position{
		right: 0;
	}
	.sertificate_box .text{
		width: 100%;
		padding-left: 0px;
	}
	.services_box .items .right{
		padding-left: 15px;
		padding-right: 15px;
	}
	.services .container{
		padding: 0;
	}
	.services .h22{
		padding-left: 15px;
		padding-right: 15px;
	}
	.services_btn_box{
		flex-direction: column;
		flex-wrap: none;
		margin-bottom: 40px;
		width: 100%;
		padding-left: 15px;
		padding-right: 15px;
	}
	.services_btn_box .items{
		width: 100%;
		margin-right: 0;
		margin-top: 15px;
		padding: 10px 0px;
	}
	.time_price .bot_img_box{
		display: none;
	}
	.services_box .right .bot_inf p{
		margin: 10px;
		text-align: center;
	}
	.services_box .right .bot_inf .btn{
		margin-left: 5px;
		padding: 13px 45px;
		margin-top: 10px;
	}
	.services_box .items{
		justify-content: center;
		align-items: center;
	}
	.services_box .right .up_inf,
	.services_slider img,
	.services_box .right .bot_inf,
	.services_box .items .right,
	.services_box .items .left{
		width: 100%;
	}
	.services_box .right .bot_inf{
		flex-direction: column;
		justify-content: center;
	}
	.services_box .right .bot_inf{
		margin-top: 0;
	}
	.time_price{
		padding-top: 0;
	}
	.time_price > div{
		padding: 0;
	}

	.services_box .items .left{
		height: auto;
		margin-left: 0;
	}
	.services_slider{
		height: auto;
	}
	.content-services .map_box{
		margin-top: 0px;
	}
	.map_box .scheme{
		left: auto;
		margin: 0 auto;
	}
	.map_box .container{
		display: flex;
		justify-content: center;
	}
	/*.float-box.review-form form{*/
	/*	padding: 0;*/
	/*}*/
	/*.float-box.review-form .float-box_inset{*/
	/*	height: 565px;*/
	/*}*/
	/*.float-box.review-form .review_top{*/
	/*	flex-direction: column;*/
	/*}*/
	/*.float-box.review-form .review_top input{*/
	/*	margin: 0 0 20px 0;*/
	/*}*/
	h3.review_name{
		margin-bottom: 20px;
		font-size: 46px;
	}
	/*.float-box.review-form textarea {*/
	/*	height: 180px;*/
	/*}*/
	/*.float-box.review-form .review_bottom{*/
	/*	flex-direction: column;*/
	/*}*/
	.checkbox:not(checked) + label{
		font-size: 16px;
	}
	/*.float-box.review-form .exit{*/
	/*	top: 50%;*/
	/*	margin-top: -260px;*/
	/*}*/
	/*.float-box.review-form .review_bottom .btn{*/
	/*	margin: 40px;*/
	/*}*/

}
@media (max-height: 770px) {
	.float-box.form .float-box_inset{
		justify-content: normal;
		background: #ffffff;
		padding-bottom: 0;
	}
	.float-box.review-form .float-box_inset{
		padding-bottom: 0;
	}
	.float-box.review-form .float-box_inset form{
		min-height: auto;
	}
	.float-box .float-box_inset form{
		margin-top: 0;
		padding: 20px 0;
		min-height: 100px;
	}
	.float-box.scheme .h30{
		margin-bottom: 25px;
	}

}
@media (max-height: 575px) {
	.float-box.scheme .float-box_inset{
		align-items: normal;
	}
	.float-box.scheme .float-box_inset > div{
		padding-bottom: 500px;
	}
}